<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="search/searchFragments/header :: header">
<body>
    <th:block th:replace="search/searchFragments/searchForm :: searchForm"/>
<div id="wrap" class="sub">

    <div th:replace="search/searchFragments/bodyHeader :: bodyHeader" />

    <section id="container">
        <section id="column-left" tabindex="0">
            <div class="result-text detail" style="display:none;border-bottom:1px solid #dddddd">
            </div>
            <!-- s.연관검색어 -->
            <dl id="related"  class="search-group dn">
                <dt>연관검색어</dt>
                <dd>
                </dd>
            </dl>
            <div class="ly_option" style="display: none;" id="sugmore">
                <a href="javascript:void(0);" class="suggest_more" style="display:none;">
                    <span id="suggestmore">더보기</span><span class="ico-set up"></span></a>
            </div>
            <!-- e.연관검색어 -->

            <!-- 검색결과 -->
            <!--<jsp:include page="result/total.jsp"/>-->
            <th:block th:insert="search/searchFragments/resultTotal :: resultTotal" />
        </section>

        <section id="column-right">

        </section>
    </section>
    <!-- footer -->
    <div th:replace="search/searchFragments/footer :: footer"></div>
</div>
</body>
</html>