<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="search/searchFragments/header :: header">
<body>
    <th:block th:replace="search/searchFragments/searchForm :: searchForm"/>
<div id="wrap" class="sub">

    <div th:replace="search/searchFragments/bodyHeader :: bodyHeader" />

    <section id="container">
        <section id="column-left" tabindex="0">
            <div class="result-text detail" style="display:none;border-bottom:1px solid #dddddd">
            </div>
            <!-- s.연관검색어 -->
            <dl id="related"  class="search-group dn">
                <dt>연관검색어</dt>
                <dd>
                </dd>
            </dl>
            <div class="ly_option" style="display: none;" id="sugmore">
                <a href="javascript:void(0);" class="suggest_more" style="display:none;">
                    <span id="suggestmore">더보기</span><span class="ico-set up"></span></a>
            </div>
            <!-- e.연관검색어 -->

            <!-- 검색결과 -->
            <!--<jsp:include page="result/total.jsp"/>-->
            <th:block th:insert="search/searchFragments/resultTotal :: resultTotal" />
        </section>

        <section id="column-right">
            <!-- 인기검색어 -->
            <div class="keyword-wrap">
                <h3>인기검색어</h3>
                <div id="rankings" class="box-content rankings">

                </div>
            </div>
            <!-- 검색어별 많이 조회한 콘텐츠 -->
            <div class="keyword-wrap">
                <h3>검색어별 많이 조회한 콘텐츠</h3>
                <div id="docidranks">
                </div>
            </div>

            <!-- 내가 찾은 검색어 -->
            <div class="keyword-wrap new">
                <h3>내가 찾은 검색어</h3>
                <div id="recent" class="box-content" data-trcode="mine">
                    <ul class="konan-recent lst-keyword mysearch">
                        <li><a href="javascript:void(0);">검색</a><span class="close-btn"></span></li>
                    </ul>
                    <div class="konan-box-msg" style="display: none;">최근검색어 내역이 없습니다.</div>
                </div>
            </div>

        </section>
    </section>
    <!-- footer -->
    <div th:replace="search/searchFragments/footer :: footer"></div>
</div>
</body>
</html>