<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="search/searchFragments/header :: header">
<body>
    <th:block th:replace="search/searchFragments/searchForm :: searchForm"/>
<div id="wrap" class="sub">

    <div th:replace="search/searchFragments/bodyHeader :: bodyHeader" />

    <section id="container">
        <section id="column-left" tabindex="0">
            <div class="result-text detail" style="display:none;border-bottom:1px solid #dddddd">
            </div>
            <!-- s.연관검색어 -->
            <dl id="related"  class="search-group dn">
                <dt>연관검색어</dt>
                <dd>
                </dd>
            </dl>
            <div class="ly_option" style="display: none;" id="sugmore">
                <a href="javascript:void(0);" class="suggest_more" style="display:none;">
                    <span id="suggestmore">더보기</span><span class="ico-set up"></span></a>
            </div>
            <!-- e.연관검색어 -->

            <!-- 검색결과 -->
            <!--<jsp:include page="result/total.jsp"/>-->
            <th:block th:insert="search/searchFragments/resultTotal :: resultTotal" />
        </section>

        <section id="column-right">
            <div class="keyword-wrap">
                <h3>지역별 검색</h3>
                <div id="back" style="cursor: pointer;" th:onclick="areaClick();">전국</div>
                <div id="davifMap" class="box-content davifMap" style="width: 250px;height: 350px;">

                </div>
            </div>

            <div class="keyword-wrap">
                <h3>클라우드</h3>
                <div id="davifCloud" class="box-content davifCloud" style="width: 300px;height: 350px;">

                </div>
            </div>

        </section>
    </section>
    <!-- footer -->
    <div th:replace="search/searchFragments/footer :: footer"></div>
</div>
</body>
</html>

<script>
    $(function (){
        getMap();
        //drawMap();

        getCloud();
        //darwCloud();
    });
</script>