<th:block th:fragment="searchForm">
  <form id="historyForm" name="historyForm" action="searchpo" method="post">
    <input type="hidden" id="category" name="category" th:value="${params.category}">
    <input type="hidden" id="kwd" name="kwd" th:value="${params.kwd}">
    <input type="hidden" id="preKwds" name="preKwds" th:value="${params.preKwds}">
    <input type="hidden" id="date" name="date" th:value="${params.date}">
    <input type="hidden" id="startDate" name="startDate" th:value="${params.startDate}">
    <input type="hidden" id="endDate" name="endDate" th:value="${params.endDate}">
    <input type="hidden" id="page" name="page" th:value="${params.page}">
    <input type="hidden" id="pageSize" name="pageSize" th:value="${params.pageSize}">
    <input type="hidden" id="offset" name="offset" th:value="${params.offset}">
    <input type="hidden" id="resrch" name="resrch" th:value="${params.resrch}">
    <input type="hidden" id="sort" name="sort" th:value="${params.sort}">
    <input type="hidden" id="sortNm" name="sortNm" th:value="${params.sortNm}">
    <input type="hidden" id="fields" name="fields" th:value="${params.fields}">
    <input type="hidden" id="detail" name="detail" th:value="${params.detail}">
    <input type="hidden" id="basickwd" name="basickwd" th:value="${params.basickwd}">
    <input type="hidden" id="exactkwd" name="exactkwd" th:value="${params.exactkwd}">
    <input type="hidden" id="inkwd" name="inkwd" th:value="${params.inkwd}">
    <input type="hidden" id="notkwd" name="notkwd" th:value="${params.notkwd}">
    <input type="hidden" id="autospc" name="autospc" value="">
    <input type="hidden" id="tr_code" name="tr_code" th:value="${params.tr_code}">
    <input type="hidden" id="srch_opt" name="srch_opt" th:value="${params.srch_opt}">
  </form>
  <form id="clickForm" name="clickForm" method="post">
    <input type="hidden" id="docid" name="docid">
    <input type="hidden" id="targeturl" name="targeturl">
    <input type="hidden" id="title" name="title">
    <input type="hidden" id="section" name="section">
    <input type="hidden" id="keyword" name="keyword" th:value="${params.kwd}">
  </form>
</th:block>